{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper ajt">Preguntas Frecuentes</span>
          <span class="section-heading-lower ajt">Responde tus dudas</span>
        </h2>
        <p class="mb-3 ajt">
          Soluciones a las dudas mas frecuentes y comunes sobre los receptores satelitales e aparatos IPTV,
          instalacion, actualizaciones, problemas frecuentes
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'solution' %}">Ver soluciones</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Solucionando Probelmas</span>
            <span class="section-heading-lower">De la manera mas simple y eficaz</span>
          </h2>
          <ol class="lista-pasos">
            <li class="pasos">Verificar en la seccion de soluciones si ya existe una respuesta al problema</li>
            <li class="pasos">seguir los pasos de la solución</li>
            <li class="pasos">si los primeros pasos no fueron efectivo contactar directamnete a soporte:
            </li>
          </ol>
           <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=595986630404&text=He%20comprado%20un%20receptor%20y%20necesito%20ayuda%20tecnica"  target="_blank"><i class="fab fa-whatsapp btn-whatsapp"></i></a>
        </div>


      </div>
    </div>
  </div>
</section>
{% endblock %}